.frame{
    display: flex;
    position: relative;
}

.title_frame{
    width: 100vw;
    height: 100%;
    padding: 55px 10px;
    background-color: #ecefff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MonoplexKRWide-BoldItalic';
}

.title_frame h1{
    font-size: 45px;
    color: #5668b2;
}

.main{
    display: flex;
    border: 2px solid #6e83d9;
    border-radius: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 8px 15px;
    background-color: #93a5ec;
    color: white;
    cursor: pointer;
}

.main:hover{
    background-color: white;
    color: #93a5ec;
}

.vline{
    border-left: 3px solid #6e83d9;
    height: 45px;
}